<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flashticket.authservice.mapper.AuthAccountMapper">

    <select id="findByEmail"
            resultType="com.flashticket.authservice.entity.AuthAccount">

        SELECT
        id,
        email,
        password,
        status,
        role,
        created_at
        FROM auth_accounts
        WHERE email = #{email}

    </select>


    <insert id="insert">

        INSERT INTO auth_accounts (
        id,
        email,
        password,
        status,
        role,
        created_at
        )
        VALUES (
        #{id},
        #{email},
        #{password},
        #{status},
        #{role},
        #{createdAt}
        )

    </insert>

</mapper>
